<div fxLayout="row" fxLayoutAlign="center center">
  <h2>Creacion de Producto</h2>
</div>
<div fxLayout="column"  fxLayoutAlign="center center">
  <p>Nombre del Producto: 
    <mat-form-field class="example-full-width">
    <input matInput placeholder="Nombre del producto" [formControl]="form.controls['nombre']" required>
  </mat-form-field>
  </p>

  <p>Codigo de Referencia del Producto: 
  <mat-form-field class="example-full-width">
   <input matInput placeholder="codReferencia del producto" [formControl]="form.controls['codReferencia']" required>
  </mat-form-field></p>

  <p>Descripcion del Producto
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Descripcion del producto" [formControl]="form.controls['descripcion']" required>
  </mat-form-field></p>

  <p>Dimensiones del Producto: 
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Dimensiones del producto" [formControl]="form.controls['dimensiones']" required>
  </mat-form-field></p>

    
  <button mat-raised-button color="primary" (click)="addProducto()">Crear</button>
</div>