<div fxLayout="row" fxLayoutAlign="center center">
  <h2>Creación de Producto</h2>
  
</div>
<div fxLayout="column"   id="contenedor" fxLayoutAlign="center center">
  
    <mat-form-field class="example-full-width">
    <input matInput placeholder="Nombre del producto" [formControl]="form.controls['nombre']" required>
  </mat-form-field>


  <mat-form-field class="example-full-width">
   <input matInput placeholder="Código de Referencia del producto" [formControl]="form.controls['codReferencia']" required>
  </mat-form-field>

  
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Descripción del producto" [formControl]="form.controls['descripcion']" required>
  </mat-form-field>


  <mat-form-field class="example-full-width">
    <input matInput placeholder="Dimensiones del producto" [formControl]="form.controls['dimensiones']" required>
  </mat-form-field>
    <div>
        <input type="file" accept="*" #file (change)="onFilesAdded()" [disabled]="uploading || uploadSuccessful" value="Seleccionar fichero" />
    </div>
    <br>
  <mat-form-field>
      <mat-select placeholder="Distribuidor" [formControl]="form.controls['distributor']" [(value)]="distributorSelected" name = "distributor">
    <mat-option *ngFor="let distributor of allDistributors" [value]="distributor.id">
      {{distributor.nombre}}
    </mat-option>
    </mat-select>
    </mat-form-field>
    <br/>
    <mat-form-field>
      <mat-select placeholder="Categoría" [formControl]="form.controls['category']" [(value)]="categorySelected" name = "category">
    <mat-option *ngFor="let category of allCategories" [value]="category.id">
      {{category.nombre}}
    </mat-option>
    </mat-select>
    </mat-form-field>
    

    <mat-dialog-content fxFlex>
        <mat-list>
          <mat-list-item *ngFor="let file of files">
    
            <h4 mat-line>{{file.name}}</h4>
    
            <mat-progress-bar *ngIf="progress" mode="determinate" [value]="progress[file.name].progress | async"></mat-progress-bar>
    
          </mat-list-item>
        </mat-list>
      </mat-dialog-content>


      <mat-dialog-actions class="actions">
          <button *ngIf="showCancelButton" mat-button mat-dialog-close>Cancelar</button>
          <button mat-raised-button color="primary" [disabled]="!canBeClosed" (click)="closeDialog()">{{primaryButtonText}}</button>
        </mat-dialog-actions>
</div>
