
mat-sidenav-container {
    position: sticky;
    height: 100vh;
    min-height: 100vh;

}

.iconStyle {
    color: white;
}

.iconStyleList {
    margin-right: 8px;
    cursor: pointer;
}

.void {
    border: none;
    background: none;
    padding: 5px;
    border-radius: 50%;
    
}

.listStyle a{
margin-top: 5%;
text-decoration: none;

}

.listStyle a:visited{
    margin-top: 5%;
    text-decoration: none;
    
    }

.example-icon {
padding: 0 14px;
color: white;
}

.example-spacer {
flex: 1 1 auto;
}

.align{
    text-align: center;
}

.style {
    text-decoration: none;
    color: white;
}
.colorb {
    color: white;
    
}

.colorb:visited {
    color: white;
    
}
