<div  id="contenedor" fxLayout="row" fxLayoutAlign="center center">
  <h2>Editar Producto</h2>
</div>
<div fxLayout="column"   fxLayoutAlign="center center">
  
    <mat-form-field class="example-full-width">
    <input matInput placeholder="Nombre del Producto" [formControl]="form.controls['nombre']" required>
  </mat-form-field>

    <mat-form-field class="example-full-width">
    <input matInput placeholder="Codigo de Referencia del Producto" [formControl]="form.controls['codReferencia']" required>
  </mat-form-field>



    <mat-form-field class="example-full-width">
    <input matInput placeholder="Descripción del producto" [formControl]="form.controls['descripcion']" required>
  </mat-form-field>
   
    <mat-form-field class="example-full-width">
    <input matInput placeholder="Dimensiones del producto" [formControl]="form.controls['dimensiones']" required>
  </mat-form-field>


  <button mat-raised-button color="primary" (click)="editProducto()">Editar</button>
</div>