<div>
  <h3 mat-dialog-title>¿Desea realmente eliminar el Distribuidor?</h3>
  <div class="checkbox-container">
    <mat-checkbox [(ngModel)]="checkedRobot"><span>Check</span></mat-checkbox>
  </div>
  <div mat-dialog-actions class="button-container">
    <button mat-raised-button color="primary" (click)="deleteDis()" [disabled]="!captcha()">
      <mat-icon>delete_forever</mat-icon>DELETE
    </button>
    <button mat-raised-button color="accent" [mat-dialog-close]>CANCEL</button>
  </div>
</div>